<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="name">Ivan</div>
        <div class="nd">don't die</div>
        <div class="score">100%</div>
    </div>
    <div class="features">
        <div class="feature">
            <h3>Not AI-Powered</h3>
            <p>Advanced algorithms that don't learn your design preferences and adapt accordingly.</p>
        </div>
        
        <div class="feature">
            <h3>Completely FREE FOREVER</h3>
            <p>If you don't use it you save us server costs</p>
        </div>
</div>
</body>
</html>