
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Don't Die</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/landingpage.css') }}">
    </head>
    <body>
        <div class="grid-bg"></div>
        
        <div class="container">
            <div class="header">
                <h1>Longevity Routine</h1>
                <p>Made easy by the website</p>
            </div>
            
            <div class="features">
                <div class="feature">
                    <h3>Track your Don't Die Progress</h3>
                    <p>Get 120+ years old</p>
                </div>
                
                <div class="feature">
                    <h3>Completely FREE FOREVER</h3>
                    <p>If you don't use it you save us server costs</p>
                </div>
               
            </div>
            
            <button  onclick="window.location.href='/login'" class="cta">FREE FOREVER</button>
        </div>
        <div class="feature">
            <h3>Summory of the most important Metrics</h3>
            <p>Look at the well structured <a style="color: aliceblue;" href="/sources">Sources</a></p>
        </div>
        <div class="footer">
            © 2025 No rights reserved and we are not Brian Johnson
        </div>
    </body>
    </html>